@using EnglishVocabApp.ViewModels
@using Newtonsoft.Json
@model List<WordViewModel>

<div id="card-container">
    <button id="word-card" class="card" onclick="flipCard()">
        @Model[0].Name
    </button>
    <div class="navigation">
        <button id="prev-btn" onclick="prevWord()" disabled> Previous</button>
        <button id="next-btn" onclick="nextWord()">Next </button>
    </div>
</div>

<script src="~/js/Study.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let wordsJson = @Html.Raw(JsonConvert.SerializeObject(Model));
        initializeWords(wordsJson);
    });
</script>

<style>
    .card {
        width: 200px;
        height: 100px;
        font-size: 20px;
        text-align: center;
        cursor: pointer;
    }

    .navigation {
        margin-top: 10px;
    }
</style>
